.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.75rem;
  font-weight: 500;
  transition: all 0.2s;
  cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
}

.small { 
  padding: 0.5rem 1rem; 
  font-size: 0.875rem; 
}

.medium { 
  padding: 0.75rem 1.5rem; 
  font-size: 1rem; 
}

.large { 
  padding: 1rem 2rem; 
  font-size: 1.125rem; 
}

.gradient {
  color: var(--color-white);
  border: none;
  box-shadow: var(--shadow-glow-1), var(--shadow-glow-2);
  background: linear-gradient(135deg, var(--color-gradient-start), var(--color-gradient-end));
}

.ghost {
  color: var(--color-white-70);
  border: none;
  background-color: transparent;

    &:hover {
      color: var(--color-white-70);
      background: var(--color-white-05);
    }
}

.outline {
  color: var(--color-white);
  border: 1px solid var(--color-dark-border);
  box-shadow: var(--shadow-inset);
  background: var(--color-dark-bg);
}

.selected {
  color: var(--color-white);;
  border: 1px solid var(--color-outline-border);
  box-shadow: var(--shadow-inset);
  background: var(--color-outline-bg);
}