@import './variables.css';
@import './reset.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-gray-1000);
}

button {
  width: 100%;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.link {
  text-decoration: none;
  font-weight: 500;
  color: var(--color-purple-300);
  transition: color 0.3s ease;
  cursor: pointer;

  &:hover {
    color: var(--color-purple-500);
  }
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  max-width: 450px;
  border: 1px solid hsl(280 100% 65% / 0.5);
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: var(--color-gray-950);
}

.form-footer {
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--color-gray-500);
  margin-top: 1.5rem;
}
