@import './variables.css';
@import './reset.css';

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-gray-950);
}

button {
  width: 100%;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.4;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.5;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px var(--color-gray-900) inset;
  -webkit-text-fill-color: var(--color-white);
  transition: background-color 9999s ease-in-out 0s;
}

.page-container {
  width: 100%;
  max-width: 64rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
