:global(:root) {
  --color-white: #ffffff;
  --color-white-05: #ffffff0d;
  --color-white-70: #ffffffb3;
  
  --color-dark-bg: rgb(26, 26, 35);
  --color-outline-bg: rgba(196, 77, 255, 0.15);

  --color-dark-border: rgb(43, 43, 59);
  --color-outline-border: rgba(196, 77, 255, 0.5);

  --color-gradient-start: hsl(280 100% 65%);
  --color-gradient-end: hsl(180 100% 50%);

  --shadow-glow-1: 0 0 40px #c44dff4d;
  --shadow-glow-2: 0 0 80px #c44dff1a;
  --shadow-inset: inset 0 0 20px #c44dff1a;

  --color-dark-bg: rgb(26,26,35);
}