:root {
  /* COLORS */

  /* White colors */
  --color-white: hsl(0, 0%, 100%);

  /* Gray colors */
  --color-gray-500: hsl(0, 0%, 50%);
  --color-gray-800: hsl(240, 13%, 17%);
  --color-gray-900: hsl(240, 14%, 10%);
  --color-gray-950: hsl(240, 20%, 4%);

  /* Purple colors */
  --color-purple-300: hsl(268, 91%, 65%);
  --color-purple-400: hsl(270, 95%, 75%);
  --color-purple-500: hsl(280, 100%, 65%);
  --color-purple-900: hsl(240, 16%, 20%);

  /* Teal colors */
  --color-teal-500: hsl(180, 100%, 50%);

  /* Green colors */
  --color-green-400: hsl(142, 76%, 50%);
  --color-green-600: hsl(142, 76%, 36%);

  /* Yellow colors */
  --color-yellow-500: hsl(45, 90%, 45%);

  /* Red colors */
  --color-red-500: hsl(0, 84%, 60%);

  /* Pink colors */
  --color-pink-500: hsl(320, 100%, 50%);

  /* Orange colors */
  --color-orange-500: hsla(25, 100%, 50%);

  /* OPACITY  */
  --opacity-70: 0.7;
  --opacity-50: 0.5;
  --opacity-30: 0.3;
  --opacity-15: 0.15;
  --opacity-10: 0.1;
  --opacity-05: 0.05;

  /* font weights */
  --font-weight-bold: 700;

  /* Easing functions */
  --ease-in-cubic: cubic-bezier(0.4, 0, 0.2, 1);

  /* Transition */
  --transition-default: 0.3s;
}
