.layout {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  min-height: 100vh;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: var(--color-gray-950);
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout.top main {
  align-items: flex-start;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.layout.center main {
  align-items: center;
}
