.container {
  max-width: 64rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.description {
  margin-top: 0.5rem;
  color: var(--color-gray-500);
  text-align: center;
}

.widget-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.5rem;

  @media (max-width: 870px) {
    & {
      grid-template-columns: 1fr;
      gap: 0.5rem;
    }
  }
}
