:root {
  --color-white: #ffffff;
  --color-white-05: #ffffff0d;
  --color-white-70: #ffffffb3;
  
  --button--color-dark-bg: rgb(26, 26, 35);
  --button--color-outline-bg: rgba(196, 77, 255, 0.15);

  --button--color-dark-border: rgb(43, 43, 59);
  --button--color-outline-border: rgba(196, 77, 255, 0.5);

  --button--color-gradient-start: hsl(280 100% 65%);
  --button--color-gradient-end: hsl(180 100% 50%);

  --button--shadow-glow-1: 0 0 40px #c44dff4d;
  --button--shadow-glow-2: 0 0 80px #c44dff1a;
  --button--shadow-inset: inset 0 0 20px #c44dff1a;

  --color-dark-bg: rgb(26,26,35);
}

.title {
  font-family: Arial, sans-serif;
  font-size: 2rem;
  color: #780c0c;
  text-align: center;
}
